@import "./variables";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
    color: $font;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

body {
    color: $font;
    background-image: url("../img/background.svg");
    font-weight: 400;
    max-height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
